{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
    <h3>Bienvenue sur le pannel admin</h3>
    <p>Ici vou allez pouvoir gerer tout ce que vous voulez car vous êtes bg sa mère</p>
{% endblock %}